body{
	font-size: 14px;
}
#masthead{
	margin-bottom: 3em;
}
@media only screen and (min-width : 48.9em) {
	#site-header-nav{
		margin-top: 32px;
	}
}
@media only screen and (max-width : 48.9em) and (min-width : 37.6em) {
	#site-header-nav{
		margin-top: 46px;
	}
}
@media only screen and (max-width : 37.6em) {
	#masthead{
		margin-bottom: 0;
	}
	#site-header-nav{
		margin-top: 0;
	}
	#site-header-nav.navbar-fixed-top{
		position: inherit;
	}

}